* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /*border: 1px solid red !important;*/
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 12px;
}

label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 5px;
}

.nameLabel {
  font-weight: bold;
}

input#currency,
input#unit {
  width: 40px;
}

input#solve,
input#edit {
  margin-top: 2px;
  width: 100px;
}

.disabled {
  opacity: 0.2;
}

div.toolbar {
  background-color: #eef5ee;
  height: 100px;
  margin-bottom: 15px;

  display: webkit-flex;
  display: flex;
  webkit-flex-direction: column;
  flex-direction: column;
  webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  webkit-align-content: flex-start;
  align-content: flex-start;
}

div.toolbar-item {
  max-width: 300px;
  margin: 5px 10px;
}

svg {
  display: block;
  margin: 0 auto;
}

path.link {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

rect.node {
  fill: white;
  stroke: black;
  stroke-width: 1;
  cursor: pointer;
}

rect.highlight {
  fill: #fed;
}

text.highlight  {
  fill: red;
}

rect.dragged {
  fill: #da9;
}